version: "3.9"
services:
  auth-service:
    build: .
    ports:
      - "8000:8000"
    environment:
      - SECRET_KEY=supersecret
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: auth
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
